/* contact */
main.main__contact {
    margin: 10px;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;

}
main.main__contact textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main__contact select{
    margin: 10px;
}

    
form fieldset{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;

}
main.main__contact input {
    margin-bottom: 5px;
}
main.main__contact button {
    margin-bottom: 5px;
}
form fieldset textarea{
    resize: none;
}
.body_main iframe{
    width: 100%;
}
/* Discography */


.main__discography {
    margin: 10px;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;

}
h1 {
    margin: 10px;
    margin: 10px;
}

.main__discography ul {
    list-style: none;
    display: grid;
    justify-content: center;
    align-items: center;
   
}

.main__discography ul li img{
    display: grid;
    justify-content: center;
    align-items: center;
}


@media all and (max-width: 320px){
    /* Contacto_media-queries */
    .body__main{
        width: 100%;
}
    main.main__contact input {
        margin-left: 5px;
        margin: 10px;
        padding: 3px;
        margin-bottom: 5px;
    }

    main.main__contact {
        margin: 15px;
        padding: 15px;
        
}   
    main.main__contact button {
        margin-bottom: 5px;
        
    }
    main.main__contact textarea {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    main.main__contact iframe{
        margin-left: 1px;
    }

    body.main__contact h1{
        display: flex;
        justify-content: center;
    }
}
/* integrandes__media-queries */
    .members__main{
    width: 100%;
}
    main.members__main li{
        list-style: none;
    }

    main.members__main ol.members__previous {
        list-style: none;
    
    }